{% extends 'BaseAdmin.html.twig' %}

{% block container %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://bootadmin.net/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://bootadmin.net/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="https://bootadmin.net/css/datatables.min.css">
        <link rel="stylesheet" href="https://bootadmin.net/css/fullcalendar.min.css">
        <link rel="stylesheet" href="https://bootadmin.net/css/bootadmin.min.css">





    <h1>Events list</h1>
<div class="card mb-4">
    <div class="card-body">
        <table id="example" class="table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Description</th>
                <th>Capacite</th>
                <th>Nbreparticipant</th>

                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            {% if  date(event.date)<date("now")%}
            <tr style="background-color: #96a1af" >
                <td><a href="{{ path('event_show', { 'id': event.id }) }}" class="btn btn-icon btn-pill btn-primary">{{ event.id }}</a></td>
                <td>{{ event.nom }}</td>
                <td>{{ event.lieu }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.heure }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.capacite }}</td>
                <td>{{ event.nbreParticipant }}</td>

                <td>


                    <a></a>
                    <a href="{{ path('event_supprimer', { 'id': event.id }    ) }}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">Delete</a>


                </td>
            </tr>
                {% else %}
                    <tr >
                        <td><a href="{{ path('event_show', { 'id': event.id }) }}" class="btn btn-icon btn-pill btn-primary">{{ event.id }}</a></td>
                        <td>{{ event.nom }}</td>
                        <td>{{ event.lieu }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.heure }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.capacite }}</td>
                        <td>{{ event.nbreParticipant }}</td>

                        <td>

                            <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-icon btn-pill btn-success"  data-toggle="tooltip" title="Edit" >  Edit  </a>
                            <a href="{{ path('event_supprimer', { 'id': event.id }    ) }}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">Delete</a>

        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>


            <a  href="{{ path('event_ajout') }}" class="btn btn-icon btn-pill btn-primary">Create a new Event </a>
            <a style="alignment: left" href="{{ path('event_stat') }}" class="btn btn-icon btn-pill btn-warning">Show Events Statistics </a>
    <a style="alignment: left" href="{{ path('event_mail') }}" class="btn btn-icon btn-pill btn-primary">Invitations et réclamations </a>

    <script src="https://bootadmin.net/js/jquery.min.js"></script>
    <script src="https://bootadmin.net/js/bootstrap.bundle.min.js"></script>
    <script src="https://bootadmin.net/js/datatables.min.js"></script>
    <script src="https://bootadmin.net/js/moment.min.js"></script>
    <script src="https://bootadmin.net/js/fullcalendar.min.js"></script>
    <script src="https://bootadmin.net/js/bootadmin.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118868344-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118868344-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>



{% endblock %}